{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>The Nimit</b><br>
      1,000,000,000,000 followers
    </div>
    <div class="col-md-9 tweetbox">
      <h2>All Tweets</h2>
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="tweet">
        <img>
        <div class="tweet-info">
          <p><b>{{tweet.name}}</b></p>
          <p>{{tweet.text}}</p>
          <p><a href="/users/{{tweet.name}}">Retweet @ {{tweet.name}}</a></p>
          <p><a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">View tweet</a></p>
        </div>
        <div style="clear: both;"></div>
      </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}